.form-editor {
    * {
        box-sizing: border-box;
    }

    &-components {
        > .ant-layout-sider-children {
            padding: 0 16px;
        }

        div.label {
            font-size: 16px;
            line-height: 44px;
        }

        .ant-row {
            margin-bottom: 10px;

            .field {
                box-sizing: border-box;
                font-size: 12px;
                line-height: 30px;
                height: 30px;
                width: 100%;
                text-align: center;
                border: 1px dashed rgba(0, 0, 0, 0);
                background-color: #f4f6fc;

                &:hover {
                    border: 1px dashed #1890ff;
                    color: #1890ff;
                }
            }
        }
    }

    &-content {
        &-main {
            .form-editor-toolbar {
                background: #fff;
                height: 44px;
                line-height: 44px;
                border-bottom: 1px solid #eee;
                padding: 0 16px;
            }

            .form-editor-editarea {
                padding: 10px;

                > .editable-form {
                    min-height: 100%;
                    border: 1px dashed #ddd;
                    background-color: #fff;

                    .field-editable {
                        position: relative;
                        display: flex;
                        padding: 16px;
                        margin: 4px;
                        border: 1px dashed #ddd;

                        &.field-editable-active {
                            border: 1px solid #1890ff;
                        }

                        &.label-standalone {
                           flex-direction: column;

                           .field-editable-label {
                               flex: 1;
                               text-align: left;
                           }
                        }

                        &-label {
                            font-size: 14px;
                            line-height: 32px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;

                            &:after {
                                content: '：';
                            }
                        }

                        &-content {
                            flex: 1;

                            > .ant-checkbox-group {
                                line-height: 32px;
                            }
                        }

                        .btn-delete {
                            position: absolute;
                            right: 4px;
                            bottom: 4px;
                            z-index: 2;
                        }

                        &.field-editable-layout {
                            display: block;
                            padding: 0;

                            .ant-row {
                                > .ant-col {
                                    box-sizing: border-box;
                                    padding: 10px;
                                    border: 1px dashed #ddd;
                                    min-height: 64px;
                                    box-sizing: border-box;
                                }
                            }
                        }
                    }
                }
            }
        }

        &-attrs {
            .attrs {
                padding: 0 16px;

                .attr-item {
                    margin-bottom: 16px;

                    .label {
                        font-size: 14px;
                        line-height: 21px;
                        height: 30px;

                        &::after {
                            content: '：';
                        }
                    }

                    .input {
                        display: inline-block;
                        width: 100%;

                        .ant-radio-button-wrapper {
                            width: 80px;
                            padding: 0;

                            > span:last-child {
                                display: inline-block;
                                width: 80px;
                                text-align: center;
                            }
                        }
                    }

                    &-option {
                        display: flex;

                        .ant-input {
                            flex: 1;
                        }

                        .btn-delete-option {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
